@font-face {
  font-family: "Hannari";
  src: url("https://cdn.leafscape.be/hannari/hannari_web.woff2") format("woff2");
}

.wf-hannari {
  font-family: "Hannari" !important;
}

.vertical-rl {
  writing-mode: vertical-rl;
}
